Repository CAAPIM/APIHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

Last changes
  packages/mapfre/src/LandingPage/LandingPage.js
  packages/mapfre/src/LandingPage/mapfre_main.jpg
  packages/mapfre/src/data-old.json
  packages/mapfre/src/layout/Header.js
  packages/mapfre/src/layout/UnAuthenticatedLayout.js
  packages/mapfre/src/theme.js
Due: eslint --fix, prettier

dockerfile
  Dockerfile
Due: none

Filtrado de APIS
  packages/layer7-apihub/src/dataProvider/apis.js
  packages/mapfre/src/LandingPage/LandingPageApis.js
Due: eslint --fix

Cambios diseño tarjetas de apis de la landingPage misma estética que las tarjetas ApiCard. Se ha comentado el componente ApiLandingCard temporalmente por si se quiere volver a usar.
  packages/layer7-apihub/src/apis/ApiCard.js
  packages/mapfre/src/LandingPage/LandingPageApis.js
Due: eslint --fix

footer
  packages/mapfre/src/layout/AuthenticatedLayout.js
  packages/mapfre/src/layout/Footer.js
Due: eslint --fix

Arreglo redirección correcta al hacer click sobre una ApiCard de LandingPage.
  packages/mapfre/src/LandingPage/LandingPageApis.js
Due: eslint --fix

Update Footer.js
  packages/mapfre/src/layout/Footer.js
Due: eslint --fix

Color mejorado
  packages/mapfre/src/layout/AuthenticatedLayout.js
  packages/mapfre/src/layout/Footer.js
  packages/mapfre/src/layout/Header.js
  packages/mapfre/src/theme.js
Due: eslint --fix

Color en página de login
  packages/mapfre/src/authentication/LoginPage.js
Due: eslint --fix

Centrado de ApiCards de LandingPage y Api view.
  packages/layer7-apihub/src/ui/CardGrid/CardGrid.js
Due: eslint --fix

Fuera las imagenes de las APICards.
  packages/layer7-apihub/src/apis/ApiCard.js
Due: eslint --fix

Cambio de nombre en los APIGroups
  packages/mapfre/src/data.json
Due: prettier

Menú de la izquierda una vez logeado cambiado Wiki por Documentación en inglés, francés y castellano
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
Due: eslint --fix

uuid
  packages/mapfre/src/data.json
Due: prettier

Arreglado contraste del color del texto sobre fondo rojo en la sección de Applications y detalle de una aplicación.
  packages/layer7-apihub/src/applications/ApplicationCard.js
  packages/layer7-apihub/src/applications/ApplicationKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationKeySecret.js
  packages/mapfre/src/applications/ApplicationDetails.js
  packages/mapfre/src/theme.js
Due: eslint --fix

20201001
  packages/layer7-apihub-mock/src/specs-old.json
  packages/layer7-apihub-mock/src/specs.json
  packages/mapfre/src/data.json
Due: prettier

Permite acceso exterior HTTP a la url https://apisb.mapfre.com/srv/api/**
  packages/layer7-apihub-mock/src/index.js
Due: eslint --fix

build-mapfre genera los binarios / estáticos de APIHub Mapfre
  Makefile
  package.json
Due: prettier

Update README.md
  packages/example/README.md
Due: prettier

5.0.1 release
  packages/layer7-apihub-mock/src/index.js
Due: eslint --fix

Update endpoint in mock server
  packages/healthcare/src/applications/ApplicationDetails.js
  packages/layer7-apihub-mock/src/index.js
Due: eslint --fix

Update endpoint in mock server (#18)
  packages/healthcare/src/applications/ApplicationDetails.js
  packages/layer7-apihub-mock/src/index.js
Due: eslint --fix

5.0.2 release
  cypress/integration/applications.js
  packages/example/src/layout/AppBar.js
  packages/example/src/layout/HomePage.js
  packages/layer7-apihub-mock/src/data/index.js
  packages/layer7-apihub-mock/src/defaultData.json
  packages/layer7-apihub-mock/src/handlers/apiKeys.js
  packages/layer7-apihub-mock/src/handlers/apiPlans.js
  packages/layer7-apihub-mock/src/index.js
  packages/layer7-apihub/src/applications/ApiSelector/ApiSelector.js
  packages/layer7-apihub/src/applications/ApiSelector/SelectionList/ApiSelectionListItem.js
  packages/layer7-apihub/src/applications/ApiSelector/SelectionList/SelectionList.js
  packages/layer7-apihub/src/applications/ApplicationActions.js
  packages/layer7-apihub/src/applications/ApplicationApisList.js
  packages/layer7-apihub/src/applications/ApplicationDetails.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.test.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationList.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/applications/ApplicationShow.js
  packages/layer7-apihub/src/authentication/AccountSetup/useAccountData.js
  packages/layer7-apihub/src/dataProvider/apiKeys.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/ui/List.js
  packages/layer7-apihub/src/ui/LoadingDialog.js
  pom.xml
  remote-hosting/.gitignore
  remote-hosting/README.md
  remote-hosting/index.js
  remote-hosting/package-lock.json
  remote-hosting/package.json
  yarn.lock
Due: eslint --fix, prettier

5.0.2 release (#23)
  cypress/integration/applications.js
  packages/example/src/layout/AppBar.js
  packages/example/src/layout/HomePage.js
  packages/layer7-apihub-mock/src/data/index.js
  packages/layer7-apihub-mock/src/defaultData.json
  packages/layer7-apihub-mock/src/handlers/apiKeys.js
  packages/layer7-apihub-mock/src/handlers/apiPlans.js
  packages/layer7-apihub-mock/src/index.js
  packages/layer7-apihub/src/applications/ApiSelector/ApiSelector.js
  packages/layer7-apihub/src/applications/ApiSelector/SelectionList/ApiSelectionListItem.js
  packages/layer7-apihub/src/applications/ApiSelector/SelectionList/SelectionList.js
  packages/layer7-apihub/src/applications/ApplicationActions.js
  packages/layer7-apihub/src/applications/ApplicationApisList.js
  packages/layer7-apihub/src/applications/ApplicationDetails.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.test.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationList.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/applications/ApplicationShow.js
  packages/layer7-apihub/src/authentication/AccountSetup/useAccountData.js
  packages/layer7-apihub/src/dataProvider/apiKeys.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/ui/List.js
  packages/layer7-apihub/src/ui/LoadingDialog.js
  pom.xml
  remote-hosting/.gitignore
  remote-hosting/README.md
  remote-hosting/index.js
  remote-hosting/package-lock.json
  remote-hosting/package.json
  yarn.lock
Due: eslint --fix, prettier

theme layout fix for example app
  packages/example/src/authentication/LoginPage.js
  packages/example/src/authentication/ThemedAuthenticationLayout.js
  packages/example/src/layout/AuthenticatedLayout.js
  packages/example/src/layout/HomePage.js
  packages/example/src/layout/ThemedLayout.js
Due: eslint --fix

theming fixes for example app
  packages/example/src/layout/AuthenticatedLayout.js
  packages/example/src/layout/HomePage.js
  packages/example/src/layout/Layout.js
  packages/example/src/layout/ThemedLayout.js
Due: eslint --fix

theming fixes for example app (#29)
  packages/example/src/layout/AuthenticatedLayout.js
  packages/example/src/layout/HomePage.js
  packages/example/src/layout/Layout.js
  packages/example/src/layout/ThemedLayout.js
Due: eslint --fix

5.1 release
  packages/example/src/authentication/ThemedAuthenticationLayout.js
  packages/layer7-apihub-mock/src/handlers/userProfile.js
  packages/layer7-apihub/src/dataProvider/userProfiles.js
  packages/layer7-apihub/src/ui/FormDialog.js
  packages/layer7-apihub/src/userProfiles/UserProfileEdit.js
  packages/layer7-apihub/src/userProfiles/UserProfileList.js
  packages/layer7-apihub/src/userProfiles/UserProfileShow.js
  packages/layer7-apihub/src/userProfiles/UserProfileSubtitle.js
  packages/layer7-apihub/src/userProfiles/UserProfileTitle.js
  packages/layer7-apihub/src/userProfiles/index.js
Due: eslint --fix

5.1 release
  .gitignore
  README.md
  cypress/integration/user.js
  packages/example/src/authentication/AuthenticationLayout.js
  packages/example/src/layout/Layout.js
  packages/example/src/theme/theme.js
  packages/healthcare/src/App.js
  packages/layer7-apihub-mock/package.json
  packages/layer7-apihub-mock/src/handlers/authentication.js
  packages/layer7-apihub-mock/src/index.js
  packages/layer7-apihub/jest.config.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/ApiHubAdmin.js
  packages/layer7-apihub/src/ApiHubUserMenu.js
  packages/layer7-apihub/src/apis/ApiList.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.test.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/authentication/Login/LoginForm.js
  packages/layer7-apihub/src/authentication/useAuthSchemes.js
  packages/layer7-apihub/src/authentication/useAuthSchemes.test.js
  packages/layer7-apihub/src/authentication/validatePassword.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/index.js
  packages/layer7-apihub/src/ui/index.js
  packages/layer7-apihub/src/userContexts/UserContextEdit.js
  packages/layer7-apihub/src/userContexts/UserContextEdit.test.js
  packages/layer7-apihub/src/userContexts/UserContextList.js
  packages/layer7-apihub/src/userContexts/UserContextShow.js
  packages/layer7-apihub/src/userContexts/index.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.1 release
  .travis.yml
Due: none

[DE531999] added custom field value as empty when it is null
  packages/layer7-apihub/src/applications/ApplicationEditView.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier: any of: *.{json,css,md}
