Repository CAAPIM/APIHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier

.lintstagedrc:

{
  "*.{js,jsx}": [
      "eslint --fix"
  ],
  "*.{json,css,md}": [
      "prettier"
  ]
}

DE530873: markdown editor table issue fix
  packages/layer7-apihub/package.json
  yarn.lock
Due: prettier

DE530873: markdown editor table issue fix (#42)
  packages/layer7-apihub/package.json
  yarn.lock
Due: prettier

DE533754: added content type utf-8 to accept special characters
  packages/layer7-apihub/src/fetchUtils.js
Due: eslint --fix

[DE530873] markdown editor table style issue fixes
  packages/layer7-apihub/src/documentation/Documentation/DocumentView.js
Due: eslint --fix

DE535352 - fixed newline replacement
  packages/layer7-apihub/src/authentication/AccountSetup/TermsDialog.js
Due: eslint --fix

markdown code tag line wrap issue fix
  packages/layer7-apihub/src/documentation/Documentation/DocumentView.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
Due: eslint --fix

5.1.2 release
  cypress/integration/applications.js
  cypress/integration/newPassword.js
  package.json
  packages/layer7-apihub-mock/src/defaultData.json
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/applications/ApplicationList.js
  packages/layer7-apihub/src/applications/ApplicationShow.js
  packages/layer7-apihub/src/applications/isApplicationPending.js
  packages/layer7-apihub/src/authentication/AccountSetup/TermsDialog.js
  packages/layer7-apihub/src/authentication/useResetPassword.js
  packages/layer7-apihub/src/authentication/useResetPassword.test.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/index.js
  packages/layer7-apihub/src/theme/branding.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.1.2 release (#51)
  cypress/integration/applications.js
  cypress/integration/newPassword.js
  package.json
  packages/layer7-apihub-mock/src/defaultData.json
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/applications/ApplicationList.js
  packages/layer7-apihub/src/applications/ApplicationShow.js
  packages/layer7-apihub/src/applications/isApplicationPending.js
  packages/layer7-apihub/src/authentication/AccountSetup/TermsDialog.js
  packages/layer7-apihub/src/authentication/useResetPassword.js
  packages/layer7-apihub/src/authentication/useResetPassword.test.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/index.js
  packages/layer7-apihub/src/theme/branding.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

Update Artifactory URL
  pom.xml
Due: none

reverting branding to master version
  packages/layer7-apihub/src/theme/branding.js
Due: eslint --fix

5.2.1 release
  package.json
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/apis/ApiAssetsField.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.test.js
  packages/layer7-apihub/src/applications/ApplicationDetails.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationKeySecret.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/applications/ApplicationToolbar.js
  packages/layer7-apihub/src/applications/isApplicationPending.js
  packages/layer7-apihub/src/authentication/AccountSetup/AccountSetupForm.js
  packages/layer7-apihub/src/authentication/NewPassword/NewPasswordForm.js
  packages/layer7-apihub/src/authentication/validatePassword.js
  packages/layer7-apihub/src/dataProvider/apiKeys.js
  packages/layer7-apihub/src/dataProvider/applications.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/theme/branding.js
  packages/layer7-apihub/src/userProfiles/UserProfileEdit.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.2.1 release
  packages/layer7-apihub/src/theme/branding.js
Due: eslint --fix

5.2.1 release (#63)
  package.json
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/apis/ApiAssetsField.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.test.js
  packages/layer7-apihub/src/applications/ApplicationDetails.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationKeySecret.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/applications/ApplicationToolbar.js
  packages/layer7-apihub/src/applications/isApplicationPending.js
  packages/layer7-apihub/src/authentication/AccountSetup/AccountSetupForm.js
  packages/layer7-apihub/src/authentication/NewPassword/NewPasswordForm.js
  packages/layer7-apihub/src/authentication/validatePassword.js
  packages/layer7-apihub/src/dataProvider/apiKeys.js
  packages/layer7-apihub/src/dataProvider/applications.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/userProfiles/UserProfileEdit.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.2.3 release
  package.json
  packages/example/.env.production
  packages/example/src/App.js
  packages/example/src/authentication/SAMLLoginConfirmPage.js
  packages/example/src/authentication/index.js
  packages/healthcare/src/homepage/HomePageHeader.js
  packages/healthcare/src/homepage/markdownRenderer.js
  packages/layer7-apihub/jest.config.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/ApiHubAdmin.js
  packages/layer7-apihub/src/ApiHubLayout.js
  packages/layer7-apihub/src/applications/ApplicationDetailsOverviewEditor.js
  packages/layer7-apihub/src/applications/ApplicationDetailsOverviewField.js
  packages/layer7-apihub/src/authentication/Login/Icons.js
  packages/layer7-apihub/src/authentication/Login/Login.js
  packages/layer7-apihub/src/authentication/Login/LoginForm.js
  packages/layer7-apihub/src/authentication/Login/LoginToolbar.js
  packages/layer7-apihub/src/authentication/SAMLLoginConfirm/Icons.js
  packages/layer7-apihub/src/authentication/SAMLLoginConfirm/SAMLLoginConfirm.js
  packages/layer7-apihub/src/authentication/SAMLLoginConfirm/index.js
  packages/layer7-apihub/src/authentication/credentialsAuthProvider.js
  packages/layer7-apihub/src/authentication/index.js
  packages/layer7-apihub/src/documentation/Documentation/Documentation.js
  packages/layer7-apihub/src/documentation/Documentation/Documentation.test.js
  packages/layer7-apihub/src/homepage/HomePageContent.js
  packages/layer7-apihub/src/homepage/HomePageContent.test.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/setupTests.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownEditor.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownField.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownView.js
  packages/layer7-apihub/src/ui/Markdown/index.js
  packages/layer7-apihub/src/ui/Markdown/markdownRenderer.js
  packages/layer7-apihub/src/useSessionChecker.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.2.3 release (#65)
  package.json
  packages/example/.env.production
  packages/example/src/App.js
  packages/example/src/authentication/SAMLLoginConfirmPage.js
  packages/example/src/authentication/index.js
  packages/healthcare/src/homepage/HomePageHeader.js
  packages/healthcare/src/homepage/markdownRenderer.js
  packages/layer7-apihub/jest.config.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/ApiHubAdmin.js
  packages/layer7-apihub/src/ApiHubLayout.js
  packages/layer7-apihub/src/applications/ApplicationDetailsOverviewEditor.js
  packages/layer7-apihub/src/applications/ApplicationDetailsOverviewField.js
  packages/layer7-apihub/src/authentication/Login/Icons.js
  packages/layer7-apihub/src/authentication/Login/Login.js
  packages/layer7-apihub/src/authentication/Login/LoginForm.js
  packages/layer7-apihub/src/authentication/Login/LoginToolbar.js
  packages/layer7-apihub/src/authentication/SAMLLoginConfirm/Icons.js
  packages/layer7-apihub/src/authentication/SAMLLoginConfirm/SAMLLoginConfirm.js
  packages/layer7-apihub/src/authentication/SAMLLoginConfirm/index.js
  packages/layer7-apihub/src/authentication/credentialsAuthProvider.js
  packages/layer7-apihub/src/authentication/index.js
  packages/layer7-apihub/src/documentation/Documentation/Documentation.js
  packages/layer7-apihub/src/documentation/Documentation/Documentation.test.js
  packages/layer7-apihub/src/homepage/HomePageContent.js
  packages/layer7-apihub/src/homepage/HomePageContent.test.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/i18n/it.js
  packages/layer7-apihub/src/setupTests.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownEditor.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownField.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownView.js
  packages/layer7-apihub/src/ui/Markdown/index.js
  packages/layer7-apihub/src/ui/Markdown/markdownRenderer.js
  packages/layer7-apihub/src/useSessionChecker.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.3 release
  README.md
  packages/example/src/ui/Footer.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/applications/ApplicationCertificatesPanel.js
  packages/layer7-apihub/src/applications/ApplicationDetails.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.test.js
  packages/layer7-apihub/src/applications/ApplicationDetailsOverviewField.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeysPanel.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/applications/ApplicationShow.js
  packages/layer7-apihub/src/applications/constants.js
  packages/layer7-apihub/src/applications/useWorkFlowConfigurations.js
  packages/layer7-apihub/src/dataProvider/applicationCertificates.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
Due: eslint --fix, prettier

5.3 release (#67)
  README.md
  packages/example/src/ui/Footer.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/applications/ApplicationCertificatesPanel.js
  packages/layer7-apihub/src/applications/ApplicationDetails.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.test.js
  packages/layer7-apihub/src/applications/ApplicationDetailsOverviewField.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeysPanel.js
  packages/layer7-apihub/src/applications/ApplicationNew.js
  packages/layer7-apihub/src/applications/ApplicationShow.js
  packages/layer7-apihub/src/applications/constants.js
  packages/layer7-apihub/src/applications/useWorkFlowConfigurations.js
  packages/layer7-apihub/src/dataProvider/applicationCertificates.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
Due: eslint --fix, prettier

5.3.1 release
  .nvmrc
  package.json
  packages/example/src/ui/Footer.js
  packages/layer7-apihub/src/apis/ApiSpecs.js
  packages/layer7-apihub/src/apis/ApiSpecs.test.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.test.js
  packages/layer7-apihub/src/apis/Swagger.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeysPanel.js
  packages/layer7-apihub/src/applications/ApplicationToolbar.js
  packages/layer7-apihub/src/applications/constants.js
  packages/layer7-apihub/src/authentication/credentialsAuthProvider.js
  packages/layer7-apihub/src/authentication/useAuthSchemes.js
  packages/layer7-apihub/src/dataProvider/apiKeys.js
  packages/layer7-apihub/src/dataProvider/applications.js
  packages/layer7-apihub/src/dataProvider/authProviders.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/permissionUtils.js
  packages/layer7-apihub/src/theme/branding.js
  pom.xml
  remote-hosting/package-lock.json
  remote-hosting/package.json
  yarn.lock
Due: eslint --fix, prettier

5.3.1 release (#68)
  .nvmrc
  package.json
  packages/example/src/ui/Footer.js
  packages/layer7-apihub/src/apis/ApiSpecs.js
  packages/layer7-apihub/src/apis/ApiSpecs.test.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.test.js
  packages/layer7-apihub/src/apis/Swagger.js
  packages/layer7-apihub/src/applications/ApplicationDetailsKeyClient.js
  packages/layer7-apihub/src/applications/ApplicationEditView.js
  packages/layer7-apihub/src/applications/ApplicationKeysPanel.js
  packages/layer7-apihub/src/applications/ApplicationToolbar.js
  packages/layer7-apihub/src/applications/constants.js
  packages/layer7-apihub/src/authentication/credentialsAuthProvider.js
  packages/layer7-apihub/src/authentication/useAuthSchemes.js
  packages/layer7-apihub/src/dataProvider/apiKeys.js
  packages/layer7-apihub/src/dataProvider/applications.js
  packages/layer7-apihub/src/dataProvider/authProviders.js
  packages/layer7-apihub/src/dataProvider/index.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/permissionUtils.js
  packages/layer7-apihub/src/theme/branding.js
  pom.xml
  remote-hosting/package-lock.json
  remote-hosting/package.json
  yarn.lock
Due: eslint --fix, prettier

5.4 release
  package.json
  packages/example/package.json
  packages/example/src/index.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/ApiHubAdmin.js
  packages/layer7-apihub/src/apis/ApiShow.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.test.js
  packages/layer7-apihub/src/dataProvider/apis.js
  packages/layer7-apihub/src/dataProvider/registrations.js
  packages/layer7-apihub/src/documentation/Documentation/Documentation.test.js
  packages/layer7-apihub/src/homepage/HomePageContent.test.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownView.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.4 release (#71)
  package.json
  packages/example/package.json
  packages/example/src/index.js
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/ApiHubAdmin.js
  packages/layer7-apihub/src/apis/ApiShow.js
  packages/layer7-apihub/src/apis/Application/ApiApplications.test.js
  packages/layer7-apihub/src/dataProvider/apis.js
  packages/layer7-apihub/src/dataProvider/registrations.js
  packages/layer7-apihub/src/documentation/Documentation/Documentation.test.js
  packages/layer7-apihub/src/homepage/HomePageContent.test.js
  packages/layer7-apihub/src/i18n/en.js
  packages/layer7-apihub/src/i18n/es.js
  packages/layer7-apihub/src/i18n/fr.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownInput.js
  packages/layer7-apihub/src/ui/Markdown/MarkdownView.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.4.1.3 release
  package.json
  pom.xml
Due: prettier

5.4.1.3 release (#73)
  package.json
  pom.xml
Due: prettier

5.4.2 release
  package.json
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/authentication/usePasswordEncryption.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

5.4.2 release (#74)
  package.json
  packages/layer7-apihub/package.json
  packages/layer7-apihub/src/authentication/usePasswordEncryption.js
  pom.xml
  yarn.lock
Due: eslint --fix, prettier

Update package.json
  package.json
Due: prettier

updated the package.json
  packages/example/package.json
  packages/layer7-apihub/package.json
  yarn.lock
Due: prettier

Update package.json to resolve build issues (#75)
  package.json
  packages/example/package.json
  packages/layer7-apihub/package.json
  yarn.lock
Due: prettier
